@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');

:root {
  --light-green: #50b033;
  --light-gray: #777;
  --black: #222;
  --bg-footer: #111;
  --bg-white: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: var(--light-gray);
  font-size: 14px;
  line-height: 1.6;
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.text-primary {
  color: var(--light-green);
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--light-green);
  color: #fff;
}

.btn-primary:hover {
  background-color: rgb(103, 221, 67);
}

.btn-secondary {
  background: rgba(119, 119, 119, 0.3);
  color: #fff;
}

.btn-secondary:hover {
  background: rgba(119, 119, 119, 0.5);
}

.btn-third {
  color: var(--light-green);
  transition: all 0.3s ease;
  font-weight: 700;
}

.btn-third:hover {
  transform: translateX(5px);
}

.title {
  text-align: center;
}

.title span {
  font-weight: 700;
  font-size: 20px;
}

.title h2 {
  margin-top: 10px;
  font-size: 30px;
}

/* Header Start */
#header {
  background: url("../images/bg-home.avif") no-repeat center center/cover fixed;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /*? ! Why 3 not 2 or 1 */
  z-index: 3;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  width: 200px;
}

.navbar ul li a {
  color: #fff;
  margin: 0 15px;
  padding-bottom: 15px;
  transition: all 0.5s ease;
}

.navbar ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--light-green);
}

#header .header-content {
  position: relative;
  z-index: 1;
}

#header .header-content .row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
}

#header .header-content .col {
  max-width: 500px;
  text-align: center;
}

#header .header-content .col h1 {
  font-size: 70px;
  color: #fff;
  margin: 15px 0;
}

#header .header-content .col span {
  display: block;
  font-weight: 300;
  font-size: 40px;
}

#header .header-content .col a {
  margin-top: 3rem;
  margin: 3rem 20px 0 0;
}

#header .header-content img,
#offer .row img {
  max-width: 100%;
}

#header .header-content .overlay,
#books-page .overlay,
#contact-page .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Header End */

/* Author Start */
#author {
  padding: 3rem 0;
}

#author .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

#author .row .author-content span {
  font-weight: 700;
  font-size: 20px;
}

#author .row .author-content {
  max-width: 600px;
}

#author .row .author-content h2 {
  margin: 10px 0;
  font-size: 45px;
  color: var(--black);
}

#author .row .author-content p {
  margin: 20px 0;
}

#author .row img {
  max-width: 350px;
}

/* Author End */
/* Offer Start */
#offer {
  background-color: var(--bg-light-white);
  padding: 4rem 0;
  text-align: center;
}

#offer .row {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 3rem;
}

#offer .row .col span:first-child {
  font-size: 35px;
  font-weight: 600;
}

#offer .row .col h2 {
  font-size: 35px;
  color: var(--black);
  margin: 10px 0;
}

#offer .row .col .author {
  display: block;
  font-size: 22px;
  font-weight: 700;
}

#offer .row .col a {
  margin-top: 20px;
  font-size: 14px;
}

#offer .row .col p {
  margin-top: 3rem;
}

#offer .row img,
#books .row img,
#all-books .row img {
  max-width: 100%;
}

/* Offer End */
/* Books Start */
#books,
#all-books {
  padding: 5rem 0;
  text-align: center;
}

#books h2,
#all-books h2 {
  color: var(--black);
}

#books .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin: 3rem 0;
}

#books .row h3,
#all-books .row h3 {
  margin-bottom: 15px;
}

#books .row p {
  font-size: 18px;
  color: var(--black);
}

/* Books End */

/* Blog Start */
#blogs,
#discover {
  background: url("../images/bg-food.jpeg") no-repeat center center/cover fixed;
  padding: 5rem 0;
  position: relative;
}

#blogs .blog-content,
#discover .discover-content {
  position: relative;
  z-index: 2;
}

#blogs h2 {
  color: #fff;
}

#blogs .blog-content .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin-top: 4rem;
}

#blogs .blog-content .row .col {
  background-color: #fff;
  padding: 20px;
}

#blogs .blog-content .row .col h3 {
  font-size: 16px;
  margin: 10px 0;
  color: var(--black);
}

#blogs .blog-content .row .col a {
  display: inline-block;
  margin-top: 15px;
  font-size: 12px;
  color: var(--black);
  font-weight: 700;
}

#blogs .blog-content .btn {
  display: block;
  text-align: center;
  margin-top: 2rem;
  font-size: 18px;
}

#blogs .blog-content .row img {
  width: 100%;
}

#blogs .overlay,
#discover .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Blog End */
/* Events Start */
#events {
  padding: 6rem 0;
}

#events .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 4rem;
  align-items: center;
  text-align: center;
}

#events .row .col span,
#events .row .col small,
#reviews .row .col small {
  font-weight: 700;
}

#events .row .col h3 {
  margin: 15px 0;
  font-size: 24px;
}

#events .row .col p {
  margin-top: 30px;
  line-height: 1.8;
}

#events .row img {
  width: 100%;
}

/* Events End */
/* Reviews Start */
#reviews {
  padding: 6rem 0;
  background-color: var(--bg-white);
  text-align: center;
}

#reviews .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin-top: 5rem;
}

#reviews .row .col img {
  width: 80px;
  border-radius: 50%;
}

#reviews .row .col h3 {
  color: var(--light-green);
  margin: 10px 0;
}

#reviews .row .col p {
  margin-top: 20px;
  font-style: italic;
}

#reviews .btn {
  margin-top: 3rem;
}

/* Reviews End */
/* Discover Start */
#discover {
  text-align: center;
}

#discover span {
  font-weight: 700;
  font-size: 35px;
}

#discover h2 {
  font-size: 50px;
  color: #fff;
  max-width: 700px;
  margin: 2rem auto 3rem;
  line-height: 1.3;
}

/* Discover End */

/** Books Page Start*/
/* Header content start */

#books-page .header-content,
#contact-page .header-content {
  min-height: 35vh;
  background: url("../images/bg-food.jpeg") no-repeat center center/cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#books-page .header-content h1,
#contact-page .header-content h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 5rem;
}

/* Header content end */
/* All Books Start */
#all-books .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

/* All Books end */

/** Books Page End*/

/** Contact Page Start  */
/* Info start */
#info {
  padding: 6rem 0;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

#info .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#info .row i {
  font-size: 40px;
  color: var(--light-green);
}

#info .row .col h2 {
  font-size: 16px;
  margin: 20px 0 5px;
}

#info .row .col p {
  margin-bottom: 5px;
}

/* Info end */
/* contact start */
#contact {
  background-color: var(--bg-white);
  text-align: center;
  padding: 6rem 0;
}

#contact .contact-content {
  max-width: 700px;
  margin: auto;
}

#contact .contact-content p {
  margin: 10px 0 30px;
}

#form input,
#form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  outline-color: var(--light-green);
}

/* contact end */
/** Contact Page End  */

/* Footer Start */
/* Footer top start */
#footer .footer-top {
  padding: 5rem 0;
  background-color: var(--bg-footer);
}

#footer h2,
#footer h3,
#footer a {
  color: #fff;
}

#footer .footer-top .row {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  column-gap: 2rem;
}

#footer .footer-top .row h2 {
  font-size: 20px;
  margin-bottom: 2rem;
}

#footer .footer-top .row .col-1 .col-1-content {
  display: flex;
  justify-content: center;
  align-items: start;
}

#footer .footer-top .row .col-1 .col-1-content p {
  font-size: 12px;
  margin-bottom: 10px;
}

#footer .footer-top .row .col-1 img {
  width: 100px;
  margin-right: 20px;
}

#footer .footer-top .row .col-2 ul li a,
#footer .footer-top .row .col-4 ul li a {
  display: inline-block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

#footer .footer-top .row .col-2 ul li a:hover,
#footer .footer-top .row .col-4 ul a:hover {
  color: var(--light-green);
}

#footer .footer-top .row .col-3 .book {
  display: flex;
  margin-bottom: 30px;
}

#footer .footer-top .row .col-3 .book h3 {
  font-size: 14px;
  font-weight: 500;
}

#footer .footer-top .row .col-3 img {
  width: 40px;
  margin-right: 10px;
}

#footer .footer-top .row .col-4 ul li i {
  margin-right: 5px;
}

/* Footer top end */

/* Copyright start */
#footer .copyright {
  padding: 2rem 0;
  text-align: center;
  background-color: var(--bg-footer);
  border-top: 1px solid var(--light-gray);
}

#footer .copyright a {
  font-weight: 600;
  transition: all 0.3s ease;
}

#footer .copyright a:hover {
  color: var(--light-green);
}

/* Copyright end */
/* Footer End */