@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');

:root {
  --light-green: #50b033;
  --light-gray: #777;
  --black: #222;
  --bg-footer: #111;
  --bg-light-white: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.text-primary {
  color: var(--light-green);
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--light-green);
  color: #fff;
}

.btn-primary:hover {
  background-color: rgb(103, 221, 67);
}

.btn-secondary {
  background: rgba(119, 119, 119, 0.3);
  color: #fff;
}

.btn-secondary:hover {
  background: rgba(119, 119, 119, 0.5);
}

.btn-third {
  color: var(--light-green);
  transition: all 0.3s ease;
}

.btn-third:hover {
  transform: translateX(10px);
}

/* Header Start */
#header {
  background: url("../images/bg-home.avif") no-repeat center center/cover fixed;
  min-height: 100vh;
  position: relative;
}

#header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
}

#header .navbar ul {
  display: flex;
}

#header .navbar ul li a {
  color: #fff;
  margin: 0 15px;
  padding-bottom: 15px;
  transition: all 0.5s ease;
}

#header .navbar ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--light-green);
}

#header .header-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

#header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.6);
}

#header * {
  z-index: 1;
}

#header .header-content .col {
  max-width: 500px;
  text-align: center;
}

#header .header-content .col h1 {
  font-size: 70px;
  margin: 15px 0;
}

#header .header-content .col span {
  display: block;
  font-weight: 300;
  font-size: 40px;
}

#header .header-content .col a {
  margin-top: 3rem;
  margin: 3rem 20px 0 0;
}

#header .header-content img,
#offer .row img {
  max-width: 100%;
}

/* Header End */

/* Author Start */
#author {
  padding: 3rem 0;
}

#author .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

#author .row .author-content span {
  color: var(--light-green);
  font-weight: 700;
  font-size: 20px;
}

#author .row .author-content {
  max-width: 600px;
}

#author .row .author-content h2 {
  margin: 10px 0;
  font-size: 45px;
  color: var(--black);
}

#author .row .author-content p {
  margin: 20px 0;
  font-size: 14px;
  color: var(--light-gray);
  line-height: 1.7;
}

#author .row img {
  max-width: 350px;
}

/* Author End */
/* Offer Start */
#offer {
  background-color: var(--bg-light-white);
  padding: 4rem 0;
  text-align: center;
}

#offer .row {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 3rem;
}

#offer .row .col span:first-child {
  font-size: 35px;
  font-weight: 600;
}

#offer .row .col h2 {
  font-size: 35px;
  color: var(--black);
  margin: 10px 0;
}

#offer .row .col .author {
  display: block;
  font-size: 22px;
  font-weight: 700;
}

#offer .row .col a {
  margin-top: 20px;
  font-size: 14px;
}

#offer .row .col p {
  margin-top: 3rem;
  font-size: 14px;
  line-height: 1.6;
  color: var(--light-gray);
}

#offer .row img,
#books .row img {
  max-width: 100%;
}

/* Offer End */
/* Books Start */
#books {
  padding: 5rem 0;
  text-align: center;
}

#books h2 {
  color: var(--black);
}

#books .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin: 3rem 0;
}

#books .row h3 {
  margin-bottom: 15px;
}

/* Books End */